{% extends "base.html" %}
{% block title %} MY BLOG {% endblock %}
{% block headmessage %}
    <!-- <h3 style="font-family: monospace;">文章列表</h3> -->
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="panelpaneldefault">
            <div class="panelheading">
                <p style="font-family: monospace; font-size: 14pt; font-weight: bold;">
                    <a href="/post/{{post.slug}}">{{post.title}}</a>
                </p>
            </div>
            <div class="panelbody" style="background-color: #fff">
                <p>
                    <!-- {{ post.body | truncatechars:15 }} -->
                    {{ post.body }}
                </p>
                {% if forloop.last %}
                    <hr style = "border-width: 2px; border-color: gray;">
                {% else %}
                    <hr style = "border-style: dotted; border-width: 1px; border-color: gray;">
                {% endif %}
            </div>
            <!-- <div class="panel-footer" style="background-color: #efefef">
                <p>
                    發布時間: {{ post.pub_date | date:"Y M d, h:m:s" }}
                </p>
            </div> -->
        </div>
    {% endfor %}
{% endblock %}