<!DOCTYPE html>
<html>
<head>
    <title>The List of DB</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>The Following is our merchandise</h2>
    <hr>
    <table width = 400, border = 1, bgcolor = "#ccffcc">
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
        </tr>
    {% for p in products %}
        <tr>
            <td>{{ p.sku }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.size }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>